Repository DaveSummer36/ecosystem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DaveSummer36, @team-leads, @docs-team, @dev-team, @qa-team, @ci-cd-team, @backend-team, @frontend-team

Create CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Owners: @docs-team

Create CONTRIBUTING.md
  .github/CONTRIBUTING.md
Owners: @docs-team

Create dependabot.ymp
  .github/dependabot/dependabot.ymp
Owners: @DaveSummer36, @team-leads

Create CODE_STYLE.md
  .github/CODE_STYLE.md
Owners: @docs-team

Update README.md
  README.md
Owners: @docs-team

OAuth App - Initial commit
  .gitignore
  oauth-app/backend/package-lock.json
  oauth-app/backend/package.json
  oauth-app/backend/src/index.js
  oauth-app/frontend/.gitignore
  oauth-app/frontend/README.md
  oauth-app/frontend/eslint.config.js
  oauth-app/frontend/index.html
  oauth-app/frontend/package-lock.json
  oauth-app/frontend/package.json
  oauth-app/frontend/src/App.tsx
  oauth-app/frontend/src/components/Login.tsx
  oauth-app/frontend/src/components/Navbar.tsx
  oauth-app/frontend/src/components/Profile.tsx
  oauth-app/frontend/src/context/ThemeContext.tsx
  oauth-app/frontend/src/main.tsx
  oauth-app/frontend/src/vite-env.d.ts
  oauth-app/frontend/tsconfig.app.json
  oauth-app/frontend/tsconfig.json
  oauth-app/frontend/tsconfig.node.json
  oauth-app/frontend/vite.config.ts
Owners: @DaveSummer36, @team-leads, @backend-team, @docs-team, @frontend-team

.github/CODEOWNERS:

# Owners for the entire repository
* @DaveSummer36 @team-leads

# Owners for specific directories
docs/* @docs-team
src/* @dev-team
tests/* @qa-team

# Owners for specific files
README.md @DaveSummer36
.github/workflows/* @ci-cd-team

# Owners for specific file types
*.md @docs-team
*.js @backend-team
*.tsx @frontend-team

# Owners for specific files within a directory
src/components/* @frontend-team
src/modules @team-leads
src/server/* @backend-team
